extends ../../base
include ../../blocks/header/menu/menu
include ../../blocks/main/title/title
include ../../blocks/main/button/button
include ../../blocks/main/slider/slider
include ../../blocks/main/advantage/advantage
include ../../blocks/main/request/request
include ../../blocks/main/recommendation/recommendation

block title
    | My Market

block index-page
    header.header__bg#main
        .header__wrapper
            .logo__container
                img(class='logo' src=require('../../assets/images/logo.svg').default alt='logo')
                p.logo__text Букеты из фруктов и ягод с доставкой по Москве

            .header__info
                a(class="header__link" href="#") Заказать в один клик
                .header__phone
                    img(class='phone__img' src=require('../../assets/images/phone.svg').default alt='phone')
                    p.phone__text 8 (999) 888-99-88

            .menu__container
                nav.menu
                    ul.menu__list
                        -
                            let menuList = [
                                {title: "Главная", className: "main", link: "#main"},
                                {title: "Что можно заказать", className: "", link: "#portfolio"},
                                {title: "Каталог", className: "", link: "#contacts"},
                                {title: "Подарки", className: "", link: "#contacts"},
                                {title: "Отзывы", className: "", link: "#contacts"},
                                {title: "Вопросы клиентов", className: "", link: "#contacts"},
                                {title: "Доставка и оплата", className: "", link: "#contacts"},
                            ]

                        each element in menuList
                            +elementMenu(element)
    main
        section.proposal#proposal
                .proposal__wrapper
                    .proposal__box
                        +title('proposal__title', 'Сделайте экзотичный подарок для неё: ', 'Жене')

                    .proposal__container
                        .proposal__image
                            img(class="proposal__item" src=require('../../assets/images/bouquet.svg').default, alt="bouquet")

                        .proposal__holder
                            .proposal__inner
                                .proposal__content
                                    h2.proposal__caption Авторские букеты из спелых ягод и фруктов
                                    +button('proposal__btn', 'Подобрать подарок')
                                    .proposal__delivery
                                        img(class="delivery__item" src=require('../../assets/images/car-proposal.svg').default, alt="car-proposal")
                                        span.delivery__text Бесплатная доставка по Москве

        section.slider__bg
            img(class="slider__item" src=require('../../assets/images/bg-img-slider.png').default, alt="bg-img-slider")
            .slider__wrapper
                +title('slider__title', 'Что вы можете заказать в нашей фруктовой лавке?', '')
                .slider__container
                    .slider__nav
                        .owl-carousel.owl-theme
                            -
                                let sliderList = [
                                    {imageMain: 'slider-1.png', altMain: 'slider-1', imageMini: 'mini-slider-1.png', altMini: 'mini-slider-1', title: 'Клубничный букет', slogan: '«Подарок, который невозможно назвать банальным и невозможно не съесть»'},
                                    {imageMain: 'slider-2.png', altMain: 'slider-2', imageMini: 'mini-slider-2.png', altMini: 'mini-slider-2', title: 'Коробка с фруктами и ягодами', slogan: '«Множество кусочков счастья разного вкуса в одной коробке»'},
                                    {imageMain: 'slider-3.png', altMain: 'slider-3', imageMini: 'mini-slider-3.png', altMini: 'mini-slider-3', title: 'Фруктовая корзина', slogan: '«Корзины с флористическим шедевром, показывающие, что фруктов много не бывает»'},
                                    {imageMain: 'slider-4.png', altMain: 'slider-4', imageMini: 'mini-slider-4.png', altMini: 'mini-slider-4', title: 'Нарезка экзотических фруктов', slogan: '«Закажите и попробуете сразу множество необычных фруктов»'},
                                    {imageMain: 'slider-5.png', altMain: 'slider-5', imageMini: 'mini-slider-5.png', altMini: 'mini-slider-5', title: 'Фруктовые стаканчики', slogan: '«Наша попытка уместить весь смак My Market в маленький стаканчик»'},
                                    {imageMain: 'slider-6.png', altMain: 'slider-6', imageMini: 'mini-slider-6.png', altMini: 'mini-slider-6', title: 'Свежевыжатые фреши', slogan: '«Освежитесь натуральными фрешами и зарядитесь витаминчиками»'}
                                ]

                            each element in sliderList
                                +slider(element)
                .slider__slide--second
                .slider__slide--third

        section.advantage__bg
            .advantage__wrapper
                h2.advantage__title.advantage__title--main Букетом цветов уже
                    span.advantage__title--meta &#160;не удивишь&#160;
                h2.advantage__title.advantage__title--submain А у нас:

                .advantage__content
                    .advantage__bouquet
                        img(class="advantage__bouquet-img" src=require('../../assets/images/advantage-img.svg').default, alt="advantage-img")
                        .ellipse
                .advantage__box
                    -
                        let widgetList = [
                            {text: 'Ягоды гораздо фотогениченее, чем цветы. Ваши подарки точно попадут в instagram ;)', image: 'advantage-icon-photo.svg', alt: 'advantage-icon-photo', className: 'advantage__icon--photo', classWidget: 'advantage__inner--photo'},
                            {text: 'Цветы чаще всего из вашего города, а наши фрукты и ягоды из Южной Америки', image: 'advantage-icon-world.svg', alt: 'advantage-icon-world', className: 'advantage__icon--world', classWidget: 'advantage__inner--world'},
                            {text: 'Весь букет съедят! а не выбросят как засохшие цветы', image: 'advantage-icon-like.svg', alt: 'advantage-icon-like', className: 'advantage__icon--like', classWidget: 'advantage__inner--like'},
                            {text: 'Букет не только пахнет, но и полезен витаминчиками', image: 'advantage-icon-plus.svg', alt: 'advantage-icon-plus', className: 'advantage__icon--plus', classWidget: 'advantage__inner--plus'},
                        ]
                    each widgetItem in widgetList
                        +advantage(widgetItem)

        section.video__bg
            img(class="video__bg-wave" src=require('../../assets/images/wave-up-video.svg').default, alt="wave-up-video")
            img(class="video__bg-img" src=require('../../assets/images/video-bg.png').default, alt="video-bg")
            .video__wrapper
                .video__btn
                    img(class="video__play-img" src=require('../../assets/images/play-video.svg').default, alt="play-video")
                    .video__ellipse
                .video__content
                    .video__title My Market — искусство радовать любимых
                    .video__text Посмотрите видео о том, как мы создаем букеты

        section.request__bg
            img(class="request__bg-img" src=require('../../assets/images/request-bg.svg').default, alt="request-bg")
            .request__content
                .request__inner
                    .request__form
                        form(action="")
                            h3.request__title Наш флорист&#160;
                                b подберёт&#160;
                                span для Вас подарок по цене, размеру и составу
                            p.request__small Выберите удобный способ связи:
                            .request__connection
                                +request({
                                    list: [
                                        {image: 'request-phone.svg', alt: 'phone', className: 'request__link--phone', title: 'Телефон'},
                                        {image: 'request-telegram.svg', alt: 'telegram', className: 'request__link--telegram', title: 'Telegram'},
                                        {image: 'request-whatsapp.svg', alt: 'whatsapp', className: 'request__link--whatsapp', title: 'WhatsApp'},
                                    ]
                                })
                            input(class="request__input" type="text" placeholder="Введите Ваш WhatsApp")
                            +button('request__btn', 'Оставить заявку')
                            small.request__small-text Нажимая кнопку, Вы принимаете Положение и Согласие на обработку персональных данных.
                .request__slides
                    .request__slides-inner
                        .request__slide--second
                        .request__slide--third

        section.recommendation__wrapper
            h2.recommendation__title.recommendation__title--meta Будьте оригинальными
            h2.recommendation__title с My Market
            p.recommendation__descr Мы советуем:
            .recommendation__stripe
            .recommendation__content
                -
                    let recommendationList = [
                        {image: 'recommendation-image-1.png', alt: 'recommendation-image-1', className: 'recommendation__image-1', title: 'Вкусное дополнение к дорогому подарку', text: 'Ваши подарки любимым станут еще красивее и приятнее с оформление от My Market'},
                        {image: 'recommendation-image-2.png', alt: 'recommendation-image-2', className: 'recommendation__image-2', title: 'Если надоели однообразные закуски', text: 'Свежие нарезки и стаканчики с экзотическими фруктами сделают ваш фуршет или свадьбу особенными'},
                        {image: 'recommendation-image-3.png', alt: 'recommendation-image-3', className: 'recommendation__image-3', title: 'Прекрасный романтический подарок', text: 'Большинство наших продаж — подарки второй половинке. По вашей просьбе, мы напишем записку с вашим текстом на специальной красивой открытке'}
                    ]
                each element in recommendationList
                    +recommendation(element)